<!DOCTYPE html>
<html>
<head>

    <title>查询结果</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <script src="/javascripts/wjs-setrem.js"></script>


    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/city.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        a, a:link, a:visited, a:hover, a:active { color: inherit; }
        /*h3::-webkit-scrollbar { width: 0; height: 0; }*/
        .elephant_pic { margin: 1.52rem auto .2rem; width: 2.95rem; height: 2.29rem; background: url(../images/icon_elephant01.png?t=20150731) 0 0 no-repeat; background-size: 2.95rem 2.29rem; }
        .elephant_con { margin-bottom: .95rem; font-size: .3rem; text-align: center; color: #999; }
        .ad { display: inline-block;  margin-top: .1rem; }
        .ad img{ width: 1rem; vertical-align: middle; }
    </style>


</head>
<body>


<div class="wrapper">

    <% var active = [true, false, false ] ;%>
    <% include inc/header %>


    <% if( buslines.length == 0 ){   %>
    <span>对不起，暂时没有找到该线路</span>
    <% } else { %>
        共找到<%= buslines.length %>条线路
    <% } %>


    <% buslines.forEach(function(busline){   %>


    <div class="line_con">
        <h3 class="line_title"><%= busline.startCity.name  %> 一 <%= busline.endCity.name  %></h3>
        <!--repeat772240903229-->
        <a href="/busline/<%= busline.id%>">
        <figure class="line_model">
            <figcaption class="line_info dis_box">
                <div class="name_title">
                    <h3 class="name name_animate"><%= busline.startCity.stations[0].name %> 一 <%= busline.endCity.stations[busline.endCity.stations.length-1].name %></h3>
                </div>
                <h3 class="price orange"><span class="f36"><%= busline.price %></span>元起</h3>
            </figcaption>
            <div class="line_details box">
                <div class="line_name">
                    <div class="white_bg"></div>
                    <ul class="start">
                        <% for(var stations = busline.startCity.stations, j=0; j<stations.length;j++) { %>
                        <!--repeat890691768378--><li> <i class="ico"></i><!--html36718429625-->
                                <% if( stations[j].name.length > 5 ){ %>
                                    <span><%= stations[j].name.substr(0,5) %></span><span class="pl6"><%= stations[j].name.substr(5) %></span>
                                <% }else{ %>
                                    <span><%= stations[j].name %></span>
                                <% } %>


                            <!--html36718429625:end--></li>
                        <% } %>
                        <!--repeat890691768378--><!--ms-if--><!--repeat890691768378--><!--ms-if--><!--repeat890691768378--><!--repeat890691768378:end-->
                    </ul>

                    <div class="solid" ms-class="dotted:(line.site_list.length > 6)"></div>
                    <ul class="end">
                        <!--repeat44274443388--><!--ms-if--><!--repeat44274443388--><!--ms-if--><!--repeat44274443388-->
                        <% for(var stations = busline.endCity.stations, j=0; j<stations.length;j++) { %>
                        <li><i class="ico"></i><!--html842129003257-->

                            <% if( stations[j].name.length > 5 ){ %>
                                <span><%= stations[j].name.substr(0,5) %></span><span class="pl6"><%= stations[j].name.substr(5) %></span>
                            <% }else{ %>
                                <span><%= stations[j].name %></span>
                            <% } %>

                            <!--html842129003257:end--></li><!--repeat44274443388-->
                        <% } %>
                    </ul>
                    <div class="white_bg_right"></div>
                </div>
                <div class="line_more">
                    <span>首班 <%= busline.starttimes[0].time   %></span>
                    <span>末班 <%= busline.starttimes[busline.starttimes.length-1].time   %></span>
                    <span>共<%=busline.starttimes.length%>趟班次</span>
                    <!--<a class="ad" href="http://mp.weixin.qq.com/s?__biz=MzAxNDMzNjc2MQ==&amp;mid=215531709&amp;idx=1&amp;sn=00604c9cf5104357b51a41bb80257c87#rd">-->
                    <!--<img src="../image/icon_ad.png" width="0" height="0" style="display: none !important; visibility: hidden !important; opacity: 0 !important; background-position: 1px 1px;">-->
                    <!--</a>-->
                </div>
            </div>
        </figure><!--repeat772240903229--><!--repeat772240903229:end-->
        </a>
    </div>


    <% }); %>




</div>

<% include inc/footer %>

<script src="/javascripts/zepto.min.js"></script>
<script>
    $(function(){

        var lineName =  $(".line_name");

        var w1 = $("ul[class='start']").width()
        var w2 = $("ul[class='end']").width()

        var w = lineName.width();
//
//        $("ul[class='start']").width(w1+10)
        $("ul[class='end']").width(w2+20)

        $("ul[class='end']").css("right", -(w1+w2+20-w) )


        lineName.css("max-width", w-20)
                .height("1.90rem")
//                .width( w1 + w2 + 10)
                .css("margin-top",0)
                .css("overflow-x","autho")
                .css("overflow-y","hidden")

        $(".white_bg_right").css("right",-(w1+w2+20-w) );

        lineName.children().each(function(index, item){
            $(item).css("margin-top","0.22rem");
        });


    })
</script>
</body>
</html>
