<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<table>
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>始发城市</th>
        <th>到达城市</th>
        <th>出发时间</th>
    </tr>


    <tr>
        <td>
            <%= busline.id  %>
        </td>
        <td>
            <%= busline.name  %>
        </td>
        <td>
            <%= busline.startCity  %>
        </td>
        <td>
            <%= busline.endCity  %>
        </td>
        <td>
            <% for(var startTime = busline.starttimes, j=0; j<startTime.length;j++) { %>
            <%= startTime[j].time   %>
            <% } %>
        </td>
        <td>
            <% for(var stations = busline.stations, j=0; j<stations.length;j++) { %>
            <%= stations[j].name   %>
            <% } %>
        </td>

    </tr>


</table>


</body>
</html>
